body{
  background-image: url(../images/pink.png);
  background-size: cover;
}
.tanu-beauty{
text-align: center;
background-color: black;
color: aliceblue;


}
.head-gift{
  text-align: center;
}


  

  



