body{
  background-image: url(../images/pink.png);
  background-size: cover;
}
.tanu-beauty{
text-align: center;
background-color: black;
color: aliceblue;


}
.head-gift{
  text-align: center;
}
.my-account a{
  color: aliceblue;
  text-decoration: none;
  
  
}
.search-field{
  padding: 10px;
  font-size: 17px;
  
  
}
.customer-service{
  text-decoration: none;
  color: black;
}
.button{
  display: inline-block;
  margin: 2px;
  border-radius: 5px;
  background-color: black;
color: #fff;
}


  

  



